# Ocultar listado de directorios y definir índice por defecto
Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo físicamente, cargarlo (ej: las imágenes o css dentro de public/)
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Si no, redirigir todo a index.php en la raíz
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
