<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /public/

    # Si el archivo físicamente, cargarlo (ej: imagenes, css)
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Si no, redirigir todo a index.php para que el Router PHP lo maneje
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
